@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

In this Application, first add Courses, then Students
After that Add Enrollments

<SurveyPrompt Title="How is Blazor working for you?" />
